.container{
    display: grid;
    grid-template-areas: "header header"
    "side notes";
    grid-template-rows: 1fr 100vh;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    gap: 1px;
    
}

header{
    grid-area: header;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 32px ;
    background-color: hsl(0, 0%, 98%);
    border-bottom: 1px #d1d1d1 solid;
    
}

header > h2{
    font-weight: 400;
    font-size: 1.125rem;
}

header > h2 span{
    font-weight: 700;
}

header > a{
    color: hsla(240, 6%, 10%, 1);
    font-weight: 700;
    font-size: 1.125rem;
}


.barSide{
    grid-area: side;
    border-right: 1px #d1d1d1 solid;
    border-top: 1px #d1d1d1 solid;

}

.items{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding-left: 15px;
    font-weight: 400;
    
}

.items img{
    width: 25px;
    height:24px;
}

.select {
    background-color: #E5E5E5;
    height: 3rem;
    border-radius: 0 25px 25px 0;
}
.containerNotes{
    display: flex;
    flex-direction: column;
    padding: 48px 16px;
    grid-area:notes;
    border-left: 1px #d1d1d1 solid;
    border-top: 1px #d1d1d1 solid;
    gap: 48px;
}

