/* styles.css

.color-picker {
    position: relative;
}

.color-picker .colors {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    gap: 5px;
}

.color-picker:hover .colors {
    display: flex;
}

.color-picker .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ddd;
}

.color-picker .color.white {
    background-color: #fff;
}

.color-picker .color.red {
    background-color: #f28b82;
}

.color-picker .color.orange {
    background-color: #fbbc04;
}

.color-picker .color.yellow {
    background-color: #fff475;
}

.color-picker .color.green {
    background-color: #ccff90;
}

.color-picker .color.cyan {
    background-color: #a7ffeb;
}

.color-picker .color.blue {
    background-color: #cbf0f8;
}

.color-picker .color.purple {
    background-color: #d7aefb;
}


.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.note {
    background-color: #fff;
    width: calc(33.333% - 10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note.red {
    background-color: #f28b82;
}

.note.orange {
    background-color: #fbbc04;
}

.note.yellow {
    background-color: #fff475;
}

.note.green {
    background-color: #ccff90;
}

.note.cyan {
    background-color: #a7ffeb;
}

.note.blue {
    background-color: #cbf0f8;
}

.note.purple {
    background-color: #d7aefb;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.color-btn,
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
} */

.note {
    width: 252px;
    height: 226px;
    border-radius: 8px;
    padding: 16px;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noteDetails {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 158px;
    
}

.note input[type="text"] {
    margin-top: 4px;
    width: 100%;
    line-height: 20px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #18181B;
    outline: none;
    padding: 0;
    background: none;
}

.noteBody {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #18181B;
    outline: none;
    background: none;
}

.noteFooter {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 36px;
}
